a { 
font-family: arial;
text-decoration: none;
color: #000000;
display: inline-block;

}

a:hover {
	 text-decoration: underline;
	}
	
	
div {
	 width: 500px;
  height: 30px;
	margin-left: 82%;
	 word-spacing: 15px;
}


.b1 {
	background: #7B68EE;
	color: #FFFFFF;
	font-family: arial;
	font-size: 16px;
	border-radius: 5px;
	border: 0;
	 padding: 9px;
	 margin: 3px;
}



.google  {
	margin-top: 100px;
	text-align: center;
	font-size: 90px;
	font-family: arial;
}
	.google span:nth-child(1) {color: #133BC1;}
	.google span:nth-child(2) {color: #E33B21;}
	.google span:nth-child(3) {color: #E6B500;}
	.google span:nth-child(4) {color: #0048E3;}
	.google span:nth-child(5) {color: #4BCE54;}
	.google span:nth-child(6) {color: #E33B21;}


html {
    width:100%;
    overflow-x:hidden;
}

.form{
	border-radius: 20px;
	width: 30%;
	padding: 12px 15px;
	border-color: #DCDCDC;
	
}

.b2 {
	background: #DCDCDC;
	color: #000000;
	font-family: arial;
	font-size: 16px;
	border-radius: 5px;
	border: 0;
	 padding: 9px;
	 margin: 3px;
}

footer {
	text-align: left;
	position: fixed;
	bottom: 0;
    color: #696969;
    width: 100%;
	margin-left: -10px;
	 padding: 10px; 
    background: #DCDCDC;
	
	
}


	
